-# edit.html.haml using partial
%div.row{:style => "padding-left: 13px;"}
  %h2 Edit "#{@garden.garden_name}"

= form_tag garden_path(@garden), :method => :put do

  = label :garden, :garden_name, 'Garden Name'
  = text_field :garden, 'garden_name'


  = label :garden, :garden_date, 'Gardened On '    #if issues change Gardened On to Released On
  = date_select :garden, :garden_date
  
  %br
  %br
  %li.btn.btn-default
    = link_to plants_path(:garden=>@garden), class: "link-to-button-dark" do
      %i.fa.fa-arrow-left
      Back To Garden
  %submit.btn.btn-primary
    %i.fa.fa-refresh
    Update
