!!!
%html
  %head
    %title Garden Planner
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
      

  %body
    #main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      %nav.navbar.navbar-inverse
        .container
          .navbar-header
            = link_to 'Restaurant Roulette', root_path, class: 'navbar-brand'
          #navbar
          
            %ul.nav.navbar-nav.pull-right
              - if current_user
                %li
                  %span{:style => "font-size: 20px !important; color: #aaaaaa;"}= current_user.email
                %li= link_to 'Sign Out', root_path
              - else
                %li= link_to 'Sign Up', new_user_path
                %li= link_to 'Sign In', root_path

      .container
        - flash.each do |key, value|
          %div{:class => "alert alert-#{key}"}
            = value

      = yield
